@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@200&display=swap');
  /* font-family: 'Inter', sans-serif; */
/* 
  font-family: 'Playfair Display', serif */

  /* *{
    overflow-x: hidden;
    overflow-y:hidden;
  } */

